/* Color Variables */
$main-color: #42b983;
$second-color: #35495e;
$trans-color: #9999;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contain {
  width: 1200px;
  margin: 0 auto;
}

button,
input,
select,
textarea {
  outline: none;
}

input[type="date"] {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

/* overlay style */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(58, 58, 58, 0.5);
}

/* scroll bar style */
/* width */
::-webkit-scrollbar {
  width: 7px;
  // display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
