/* Color Variables */
$main-color: #42b983;
$second-color: #35495e;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}

.contain {
  width: 1200px;
  margin: 0 auto;
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}

/* overlay style */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(58, 58, 58, 0.5);
}

/* sepration style */
.seprator {
  position: relative;
  text-align: center;
  hr {
    height: 4px;
    color: #999;
    margin: 75px 100px;
  }
  img {
    width: 30px;
    top: -13px;
    background-color: #fff;
    position: absolute;
  }
}

/* scroll bar style */
/* width */
::-webkit-scrollbar {
  width: 7px;
  // display: none;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
